.field {
    padding: 50px 75px;
    background-color: rgba(39, 49, 100, 0.85);
    max-width: 630px;
    margin: 0 auto;
    border-radius: 10px;
}

.field .field__wrap {
    background-color: transparent;
}

.field__wrap {
    background-color: rgba(39, 49, 100, 0.85);
    padding: 10px;
    border-radius: 5px;
}

.field__title {
    color: #fff;
    font-size: 30px;
    line-height: 1;
    margin-bottom: 30px;
}

.field__text {
    color: #e91e63;
    font-size: 12px;
    line-height: 2;
    margin-bottom: 35px;
    font-weight: 700;
}

.field__input {
    width: 100%;
    border: none;
    outline: 0;
    border-bottom: 1px solid #7d83a2;
    display: block;
    background-color: transparent;
    padding-bottom: 5px;
    margin-bottom: 20px;
    color: #fff;
}

.field__input::-webkit-input-placeholder {
    font-size: 14px;
    color: #fff;
}

.field__size {
    margin-bottom: 20px;
}

.field__radio {
    color: #fff;
    margin-right: 20px;
}

.field__city {
    color: #000;
    background-color: #cecece;
}

.field__btn {
    color: #e91e63;
    background: none;
    border: none;
    border-bottom: 1px solid transparent;
    font-size: 20px;
    line-height: 1.2;
    font-weight: 700;
    padding-bottom: 5px;
    overflow: hidden;
    cursor: pointer;
    transition: border-bottom-color 0.3s;
}

.field__btn:hover {
    border-bottom-color: #e91e63;
}

.user {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: calc(100vh - 66px);
    background: linear-gradient(
            rgba(255, 255, 255, 0.6),
            rgba(255, 255, 255, 0.1)
        ),
        url(../../../images/cog.jpg);
    background-size: cover;
    background-position: center;
}
